<h3><%= @poem.title %></h3>
<p><%= @poem.content %></p>

<p>Written By: <%= @poem.user.name %></p>

<% if authorized_edit?(@poem) %>
  <a href="/poems/<%= @poem.id %>/edit">Edit Entry</a>
  <br><br>
  <form class="" action="/poems/<%= @poem.id %>" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" name="" value="Delete this Entry">
  </form>
<% end %>
